[submodule "Dependencies/Nima-Flutter"]
	path = Dependencies/Nima-Flutter
	url = git@github.com:2d-inc/Nima-Flutter.git
[submodule "Dependencies/Flare-Flutter"]
	path = Dependencies/Flare-Flutter
	url = git@github.com:2d-inc/Flare-Flutter.git
